h2{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 25px;
}
h2 div{
    color:purple;
    font-size :25px;
}
.btn{
    border: none;
    height: 41px;
    padding: 8px;
    border-radius: 20px;
    color: #f5ebf5;
    background-color: purple;
    cursor: pointer;
}
.btn:hover{
    background-color: #b54cb5;
}
.container{
    display: flex;
    justify-content: space-around;
}
.player-container{
    width: 451px;
}
.top5{
    padding: 25px;
    border-radius: 25px;
    background-color: darkslateblue;
    margin: 10px;
    display:  flex;
    align-items:  center;
    justify-content:  flex-start;
    max-width: 400px;
    cursor: pointer;
}
.top5:hover{
    background-color: #8276ca;
}

.top5-text{
    color: white;
    margin-left: 33px;
    height: 140px;
    display:  flex;
    align-items:  center;
    font-size: 27px;
}

.player-container{
    padding: 37px;
    border-radius: 25px;
    background-color: darkslateblue;
    max-width: 400px;
    align-self: flex-start;
}
.info{
    color: white;
    padding-top: 15px;
    display: flex;
    align-items: center;
    font-size: 17px;
}
.footer{
    background-color: darkslateblue;
    padding: 37px;
    border-radius: 25px;
    color: white;
    font-size: 32px;
    display: flex;
    justify-content: space-around;
    margin-top: 16px;
}
.btn-reset-footer-container{
    display: flex;
    justify-content: flex-end;
}
.btn.reset-footer{
    padding: 29px;
    height: 75px;
}
.no-scroll{
    overflow: hidden;
}
.modal {
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(21, 18, 18, 0.79); 
}


.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #ab9494b0;
    width: 63%;
}


.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-text{

display:  flex;

justify-content:  center;
}
.btn-danger{
    background-color: #8a32327a;
}
.btns-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 60px;
}
p{
    font-size: 25px;
}
.history-value{
    cursor: pointer;
    border-radius: 20px;
    text-align:  center;
    padding: 16px;
}
.history-value:hover{
    background-color: #6455bd;
}
.hide{
    display: none;

}
input,textarea{
    border: 2px solid grey;
    z-index: 1;
    border-radius: 22px;
    height: 30px;
    font-weight: bold;
    padding-left: 5px;
    background-color: #d3d3d36b;
}
@media(max-width:910px){
    .container{
        align-items: center;
     flex-direction: column-reverse;
    }
    .player-container{

        align-self: center;
        z-index: -1;
    }

}